XML_Bind/xsd/test2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="persoane">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="persoana"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="persoana">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nume"/>
        <xs:element ref="varsta"/>
        <xs:element ref="oras"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nume" type="xs:NCName"/>
  <xs:element name="varsta" type="xs:integer"/>
  <xs:element name="oras" type="xs:NCName"/>
</xs:schema>
